
@{
    ViewBag.Title = "AddToUser";
}

<head>
    @Styles.Render("~/Content/AdminPage.css")
</head>
<div class="sidebar-container">
    <ul class="sidebar-navigation">
        <li>
            @Html.ActionLink("AdminAnnouncement", "AdminAnnouncement", "Home")
        </li>
        <li>
            @Html.ActionLink("AdminForum", "AdminForum", "Home")
        </li>
        <li>
            @Html.ActionLink("Roles", "RolePage", "Home")
        </li>
    </ul>
</div>

@*<h2>AddToUser</h2>*@

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <p>User name</p>
            <div class="col-md-10">
                <input class="form-control" name="name" placeholder="Role name" />
            </div>
        </div>

        <div class="form-group">
            <p>Role name</p>
            <div class="col-md-10">
                <input class="form-control" name="nameR" placeholder="Role name" />
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-dark" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "RolePage")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
