
@{
    ViewBag.Title = "AdminPage";
}
@using Forum.Controllers
<head>

    @Styles.Render("~/Content/AdminPage.css")
</head>
<div class="sidebar-container">
    <ul class="sidebar-navigation">
        <li>
            @Html.ActionLink("AdminAnnouncement", "AdminAnnouncement", "Home")
        </li>
        <li>
            @Html.ActionLink("AdminForum", "AdminForum", "Home")
        </li>
        <li>
            @Html.ActionLink("Roles", "RolePage", "Home")
        </li>
    </ul>
</div>

<div class="content-container">
    <div class="jumbotron">
        <div class="container-fluid">
            <table class="table">
                <tr>
                    <th scope="row"></th>
                    <td><h3>Zarejestrowani :@ViewBag.RegCount</h3></td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td><h3>Wątki : @ViewBag.ThCount</h3></td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td><h3>Wiadomości : @ViewBag.PoCount</h3></td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td><h3>Przypięte Wątki : @ViewBag.PinThCount </h3></td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td><h3>Przypięte wiadomości : @ViewBag.PinPoCount</h3></td>
                </tr>
            </table>
        </div>
    </div>
</div>