
@{
    ViewBag.Title = "AdminPage";
}
<head>
    @Styles.Render("~/Content/AdminPage.css")
</head>
<div class="sidebar-container">
    <ul class="sidebar-navigation">
        <li class="header">Navigation</li>
        <li>
            @Html.ActionLink("AdminAnnouncement", "AdminAnnouncement","Home")
        </li>
        <li>
            @Html.ActionLink("AdminForum", "AdminForum", "Home")
        </li>
        <li class="header">Another Menu</li>
        <li>
            <a href="#">
                <i class="fa fa-users" aria-hidden="true"></i> Friends
            </a>
        </li>
    </ul>
</div>

<div class="content-container">

    <div class="container-fluid">

        <h2>Zarejestrowani :@ViewBag.RegCount</h2>
        <h2>Wątki : @ViewBag.ThCount</h2>
        <h2>Wiadomości : @ViewBag.PoCount</h2>
        <h2>Przypięte Wątki : @ViewBag.PinThCount </h2>
        <h2>Przypięte wiadomości : @ViewBag.PinPoCount</h2>


    </div>
</div>