@model IEnumerable<Forum.Models.Announcement>
@using Forum.Controllers

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <table>
        @foreach (var item in ((HomeController)this.ViewContext.Controller).Announcements())
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TextContent)
                </td>
            </tr>
        }

    </table>
</div>

<div class="row">

    <table>
        @foreach (var item in ((HomeController)this.ViewContext.Controller).Forums())
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @*@Html.ActionLink("Open", "Index", "Thread", new { ForumID = item.ForumID });*@
                @Html.ActionLink("Open", "Index", "Thread", new { ID = item.ForumID }, null)
            </td>
        </tr>
        }

    </table>

</div>