
@{
    ViewBag.Title = "RolePage";
}

@Styles.Render("~/Content/Role.css")
<head>
    @Styles.Render("~/Content/AdminPage.css")
</head>
<div class="sidebar-container">
    <ul class="sidebar-navigation">
        <li>
            @Html.ActionLink("AdminAnnouncement", "AdminAnnouncement", "Home")
        </li>
        <li>
            @Html.ActionLink("AdminForum", "AdminForum", "Home")
        </li>
        <li>
            @Html.ActionLink("Roles", "RolePage", "Home")
        </li>
    </ul>
</div>

<div style="padding:30px">
    @Html.ActionLink("Add role", "AddR", "HomeControler", new { @class = "btn btn-info" })
    @Html.ActionLink("Add user to role", "AddToUser", "HomeControler", new { @class = "btn btn-info" })

    <table class="table">
        <tr>
            <th>
                <p>Rola</p>
            </th>
            <th></th>
        </tr>

        @foreach (var x in ViewBag.list)
        {
            <tr>
                <td scope="row">
                    @x.Name
                </td>
            </tr>
        }
    </table>
</div>